:root{
    --color1: #CE7777;
    --color2: #fff;
    --color3:
}

body {
    font-family: 'Poppins', sans-serif;
}

/****************** NAVBAR ******************/
.navbar {
    background-color: #fff;

}

.container-fluid {
    padding: 25px 40px;
}

.navbar-brand {
    font-size: 25px;
    font-weight: bold;
    color: #2B3A55;
}

.navbar-brand span {
    font-size: 16px;
    font-weight: 400;
    color: #2B3A55;
}

.nav-link {
    font-size: 14px;
    color: #2B3A55;
}

.nav-link.active {
    color: #CE7777;
}

.fa-mug-hot {
    color: #CE7777;

}

/****************** CARD ******************/
.bg-color {
    height: 100vh;
    width: 40%;
    background-color: #CE7777;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}


.about {
    margin: 100px;
    text-align: center;
    align-items: center;
    padding: auto;
    color: #2B3A55;

}

.card {
    border-style: none;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.2);
    ;
    border-radius: 0;
    width: 18rem;
    display: inline-block;
}

.card-body {
    background-color: #F2E5E5;

}

.card-img-top {
    display: block;
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 15px;
}

.card-title {
    font-weight: bold;
    font-size: 22px;
    margin: auto;
    text-align: center;
    padding: 15px;
    color: #2B3A55;
}

.card-text {
    font-weight: 400;
    margin: auto;
    text-align: center;
    padding: 15px;
    color: #2B3A55;
}

hr.solid {
    border: 1px solid #CE7777;
    border-radius: 30px;
    width: 30%;
    margin: 15px auto;
}

.card-footer {
    border-style: none;
    background-color: #fff;
}

.card-link {
    margin: auto;
    text-align: center;
    color: #CE7777;
}

.card-link:hover {
    color: #2B3A55;
}

.presentation {
    display: inline-block;
    padding: 30px;
    width: 30%;
}

.hello {
    font-size: 100px;
    font-weight: bold;
    width: 30%;
    padding: 0 0px 30px 0;
    text-align: left;
}

.infos {
    font-size: 25px;
    padding: 0 0px 30px 0;
    text-align: left;
}

.btn {
    display: inline-block;
    width: 40%;
    border-radius: 30px;
    text-align: center;
    font-size: 12px;
    padding: 10px;
    margin: 0 5px 50px 0;
}

.btn-primary {
    background-color: #CE7777;
    border-style: none;
}

.btn-primary:hover {
    background-color: #F2E5E5;
}

.btn-outline-dark {
    border-color: #2B3A55;
    color: #2B3A55;
}

.btn-outline-dark:hover {
    background-color: #2B3A55;
    border-color: #2B3A55;
}

.presentation p {
    text-align: left;
}

/* EXPERIENCE */
#experience{
    background-color: var(--color1);
}
#experience .heading h2{
    color:var(--color2);
}
.timeline{
    padding: 30px 10px;
    position: relative;
}
.timeline li{
    text-decoration: none;
}
.timeline:before{
    content: " ";
    top: 0;
    bottom: 0;
    position: absolute;
    width: 5px;
    background-color: #333;
    left: 50%;
    margin-left: -2,5px;
}
.timeline > li{
    margin-bottom: 20px;
    position: relative;
}
.timeline > li:before, 
.timeline > li:after{
    content:" ";
    display: table;
}
.timeline > li:after{
    clear:both;
}
.timeline li .timeline-badge{
    color: var(--color1);
    width: 50px;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    background-color: #ddd;
    border-radius: 50%;
}
.timeline-panel-container{
    width: 50%;
    float: left;
}
.timeline-panel-container-inverted{
    width: 50%;
    float: right;
}
.timeline-panel{
    width: 90%;
    float: right;
    margin-right: 40px;
    border: 1px solid #d4d4d4;
    border-radius: 7px;
    padding: 20px 25px;
    position: relative;
    box-shadow: 0 1px 6px rgba(0,0,0, 0.175);
    background-color: var(--color2);
}
.timeline-panel-container-inverted .timeline-panel{
    float: left;
    margin-left: 40px;
}
.timeline-panel:after{
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid var(--color2);
    border-right: 0 solid var(--color2);
    border-bottom: 14px solid transparent;
    content:" ";
}
.timeline-panel-container-inverted .timeline-panel:after{
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}
.timeline-heading h3{
    margin-top: 5px;
    font-size: 20px;
}
.timeline-heading h4{
    color: var(--color1);
}