:root {
    --color1: #ce7777;
    --color2: #fff;
    --color3: #2b3a55;
    --color4: #f2e5e5;
  }
  
  body {
    font-family: "Poppins", sans-serif;
  }

.cv-list-formation{
    margin: 0 25%;
    padding: 30px;
}

.formation-card{
    margin: 20px 50px;
    
}

.formation-body{
    text-align: center;
    margin: auto;
    background-color: var(--color4);
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
    
}

.formation-year{
    margin-top: 5px;
    color: var(--color3);
}


.formation-body h4{
    width: 85%;
    margin: 25px auto;
    font-weight: bold;
    color: var(--color3);
}

.formation-body h6{
    color: var(--color1);
}

.formation-icon{
    font-size: 40px;
    color: var(--color1);
}