@media (prefers-reduced-motion: no-preference) {}

:root {
    --color1: #ce7777;
    --color2: #fff;
    --color3: #2b3a55;
    --color4: #f2e5e5;
}

body {
    font-family: "Poppins", sans-serif;
}

.container-bg-xp{
    background-color: var(--color2);
}

.container-xp {
    margin-left: 10%;
    margin-right: 10%;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    text-align: right;
    flex-direction: row;
    font-family: "Poppins", sans-serif;
    color: var(--color3);
}

.container-job {
    padding: 50px 0px 0px 20px;
    width: 450px;
}

.job-name{
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--color1);
}

.job-company{
    font-size: 20px ;
}
.job-company span{
    font-style: italic;
    color: lightgrey ;
}
.job-img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.job-year{
    font-size: 16px;
}
.job-year span{
    font-style: italic;
    color: lightgrey ;
}

.job-body{
    padding-top: 5px;
}


@media only screen and (max-width: 700px) {

    /* For Mobile */
    .container-job {
        padding: 50px 0px 0px 20px;
        width: 300px;
    }
  
}


/* 
.cv-list-job{
    margin: 0 25%;
    padding: 30px;
}

.job-header-container{
    display: flex;
    align-content:center;
    justify-content: left;
}

.job-header-container-img{
    margin-right: 15px;
}

.job-name{
    font-size: 18px;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    color: var(--color3);
    padding: 5px;
}

.job-company{
    font-size: 16px;
    font-weight: 400;
    color: var(--color1);
}

.job-year{
    font-size: 14px;
    font-weight: 400;
    color: var(--color3);
}

.job-body{
    padding: 5px;
    margin: 0;
    font-size: 16px;
    color: var(--color3);
}

.job-img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0px 0px 10px 8px var(--color4);
} */