:root {
  --color1: #ce7777;
  --color2: #fff;
  --color3: #2b3a55;
  --color4: #f2e5e5;
}

body {
  font-family: "Poppins", sans-serif;
}

/********************** GROUP CARD  ************************/


/* .home-cards {
  text-align: center;
  align-items: center;
  margin: 0 0 0 28%;
} */

.container-home-cards {
  display: grid;
  grid-template-areas:
    "Card Presentation";
  gap: 20px;
  align-items: right;
}

/********************** HOME CARD  **********************/

.container-profile {
  grid-area: Card;
  margin: auto;
  align-items: center;
  margin-right: 0;
}

/* .profile {
  border-style: none;
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 0;
  max-width: 18rem;
  width: 16rem;
  display: inline-block;
} */

.profile-body {
  background-color: var(--color4);
}

.profile-img-top {
  display: block;
  width: 80%;
  margin: auto;
  text-align: center;
  padding: 15px;
  border-radius: 50%;
}

.profile-title {
  font-weight: bold;
  font-size: 22px;
  margin: auto;
  text-align: center;
  padding: 15px;
  color: var(--color3);
}

.profile-text {
  font-weight: 400;
  margin: auto;
  text-align: center;
  padding: 15px;
  color: var(--color3);
}

hr.solid {
  border: 1px solid var(--color1);
  border-radius: 30px;
  width: 30%;
  margin: 15px auto;
}

.profile-footer {
  border-style: none;
  background-color: var(--color2);
}

.profile-link {
  margin: auto;
  padding: 5px;
  text-align: center;
  color: var(--color1);
}

.profile-link:hover {
  color: var(--color3);
}

/********************** PRESENTATION **********************/

.container-presentation {
  grid-area: Presentation;
  border-style: none;
  width: 20rem;
  align-items: left;
  margin-left: 20px;
}

.presentation-body {
  background-color: transparent;
  border-style: none;
}

.presentation-titre {
  font-size: 120px;
  font-weight: bold;
  min-width: 18rem;
  padding: 0 0px 30px 0;
  text-align: left;
  font-family: 'Licorice', sans-serif; 

}

.presentation-job {
  font-size: 25px;
  padding: 0 0px 30px 0;
  text-align: left;

}

.btn {
  display: inline-block;
  width: 6rem;
  border-radius: 30px;
  text-align: center;
  font-size: 12px;
  padding: 10px;
  margin: 0 5px 50px 0;
}

.btn-cv {
  background-color: var(--color1);
  border-style: none;
}

.btn-cv:hover {
  background-color: var(--color4);
}

.btn-projets {
  border-color: var(--color3);
  color: var(--color3);
}

.btn-projets:hover {
  background-color: var(--color3);
  border-color: var(--color3);
}

.presentation-body p {
  text-align: left;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 1000px) {
  /* For Tablets */

  .container-home-cards {
    display: grid;
    grid-template-areas:
      "Card Card"
      "Presentation Presentation";
    gap: 20px;
  }

  .container-profile {
    grid-area: Card;
    margin: auto;
    align-items: center;
    
  }

  .container-presentation {
    grid-area: Presentation;
    border-style: none;
    width: 16rem;
    align-items: center;
    margin: auto;

  }

}

@media only screen and (max-width: 700px) {

  /* For Mobile */
  .container-home-cards {
    display: grid;
    grid-template-areas:
      "Card Card"
      "Presentation Presentation";
    gap: 20px;
    align-items: center;
    margin: auto;
  }

  .container-profile {
    grid-area: Card;
    margin: auto;
    align-items: center;
    padding: auto;
    justify-content: center;
  }

  .container-presentation {
    grid-area: Presentation;
    border-style: none;
    width: 18rem;
    align-items: center;
    margin: auto;
    padding: 30px;

  }

  .presentation-titre {
    font-size: 80px;
    margin: 0;
  }

  .presentation-job {
    font-size: 20px;
    padding: 0 0px 30px 0;
    text-align: center;
  
  }

  .presentation-body p {
    text-align: center;
  }
}