:root {
    --color1: #ce7777;
    --color2: #fff;
    --color3: #2b3a55;
    --color4: #f2e5e5;
}

body {
    font-family: "Poppins", sans-serif;
}

.container-bg-comp{
padding-bottom: 30px;
}


.container-competences {
    text-align: right;
    display: grid;
    grid-template-areas:
        "comp comp comp"
        "prog log lang";
    gap: 50px;
    margin-left: 10%;
    margin-right: 10%;
    padding: 0 50px;
    font-family: "Poppins", sans-serif;
    color: var(--color3);

}



.container-competences h2 {
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--color1);
}

.container-competences h4 {
    font-size: 20px;
    padding-top: 8px;
    padding-bottom: 3px;
}

hr{
    display: inline-block;
    margin: auto;
    align-items: right;
    width: 10%;
}

.competences-logo {
    width: 80px;

}


/* Programmation */

.container-programmation {
    grid-area: prog;
    padding-right: 20px;
    
}



/* Logiciels */

.container-logiciels {
    grid-area: log;
    padding-right: 20px;
}


/* Langues */

.container-langues {
    grid-area: lang;
    padding-right: 0px;
    
}

.languagues-card {
    display: inline-block;
    width: 350px;
    margin: auto;
    border-radius: 30px;
    padding: 20px;
    transform: translate(0px, 0px);
    transition: transform 0.2s ease-out;
}

.languagues-card:hover {
    transform: translate(10px, -10px);
}

.languagues-card h4 {
    color: var(--color2);
    font-size: 30px;
}

.languagues-card p{
    color: var(--color4);
}

.languagues-card img {
    height: 30px;
    width: 50px;
    margin: 10px;
    object-fit: cover;
    border-radius: 10px;
    transform: rotate(0deg);
    transition: transform 0.5s ease-out;
}
.languagues-card img:hover{
    transform: rotate(360deg);
}


@media only screen and (max-width: 1400px) {
    /* For Tablets */

    .container-competences {
        grid-template-areas:
            "comp comp comp comp"
            "prog prog log log"
            "lang lang lang lang";
        padding: 0 50px;
       
    }

    .container-langues {
        grid-area: lang;
        padding-right: 20px;
        
    }

}

@media only screen and (max-width: 700px) {

    /* For Mobile */

    .container-competences {
        grid-template-areas:
            "comp comp comp comp"
            "prog prog prog prog"
            "log log log log"
            "lang lang lang lang";
        padding: 0 50px;
       
    }

    .container-langues {
        grid-area: lang;
        padding-right: 20px;
        
    }

}









/* Langues */



/********************** Programmation / Logiciels ************************/

.cv-competences-tabs {
    margin: 40px 25%;
    padding: 30px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 10px;
}

.competences-title {
    color: var(--color3);
    font-size: 28px;
}

.competences-title:hover {
    color: var(--color3);
}

.competences-title:active {
    color: var(--color3);
}

.competences-body {
    text-align: center;
    margin: 40px 20px;
    font-family: "Poppins", sans-serif;
}

.competences-body h4 {
    font-weight: bold;
    color: var(--color3);
    padding: 20px;
    font-size: 20px;
}

.competences-body p {
    font-size: 40px;
    color: var(--color2);
}

/* .competences-container-logo {
    background-color: var(--color1);
    border-radius: 10px;
    padding: 10px;
} */



.animation-logo {
    transform: translate(0px, 0px);
    transition: transform 0.2s ease-out;
}

.animation-logo:hover {
    transform: translate(10px, -10px);
}



/********************** LANGUES ************************/

.container-languages {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    padding: 40px;
}

.competences-languagues {
    margin: auto;
    text-align: center;
    font-family: "Poppins", sans-serif;
    width: 40%;
}



.competences-languagues img {
    height: 30px;
    width: 50px;
    position: relative;
    top: 0;
    left: 55%;
    object-fit: cover;
    border-radius: 10px;
    transform: rotate(0deg);
    transition: transform 0.5s ease-out;
}

.competences-languagues img:hover {
    transform: rotate(360deg);
}

.competences-languagues h4 {
    font-size: 3em;
    color: var(--color2);
    padding: 10px;
}

.competences-languagues p {
    color: var(--color2);
}