:root {
    --color1: #ce7777;
    --color2: #fff;
    --color3: #2b3a55;
    --color4: #f2e5e5;
  }
  
  body {
    font-family: "Poppins", sans-serif;
  }
  

  .comp-title {
    grid-area: comp;
    font-family: 'Licorice', sans-serif;
    text-align: right;
    font-size: 100px;
    padding: 50px 50px 0px;
    margin-right: 10%;
}


.cv-components{
  background-color: var(--color4);
  padding: 0;
  margin: 0;
}



@media only screen and (max-width: 700px) {

  /* For Mobile */

  .comp-title {
    grid-area: comp;
    font-family: 'Licorice', sans-serif;
    text-align: right;
    font-size: 60px;
    padding: 50px 50px 0px;
    margin-right: 5%;
    
}

  
}


/* 
 .cv-titre-components{
  margin: auto;
  text-align: center;
  font-family: "Poppins", sans-serif ;
  font-weight: bold;
  padding: 60px 0 10px 0;
  color: var(--color1);
 } */